body{
    background-color: rgba(185, 178, 178, 0.637);
    padding-top:100px;
    }

.header{
    background-color: rgb(255,69,0);
}
.img{
    width: 770px;
    height: 500px;
}
.jumbotron{
    background-color: rgba(64, 71, 67, 0.637);
}
h1 {
    text-align: center;
    font-weight: bold;
    text-align: center;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",   "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    text-shadow: 1px 1px 2px #000000ea;
    font-size: 0.5cm;
    opacity: 80%;
    font-size: 30px;  }       